<%layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <form
      method="post"
      action="/listings/<%=list._id %>?_method=PATCH"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div>
        <label for="description" class="form-label">title</label>

        <input
          type="text"
          name="listing[title]"
          id="title"
          class="form-control"
          value="<%=list.title %>"
          required
        />
        <div class="valid-feedback">title Looks good!!!</div>
        <div class="invalid-feedback">Enter the Title!</div>
      </div>

      <br />
      <br />
      <div>
        <label for="description" class="form-label">description</label>
        <textarea
          name="listing[description]"
          cols="20"
          rows="5"
          placeholder="enter description"
          id="description"
          class="form-control"
          required
        >
<%=list.description %></textarea
        >
        <div class="valid-feedback">description Looks good!!!</div>
        <div class="invalid-feedback">Enter the description!</div>
      </div>

      <br />
      <br />

      <div>
        <img src="<%=originalImage %>" alt="" height="300px" />
        <br />
        <br />
        <label for="image" class="form-label">New Image</label>

        <input
          type="file"
          name="listing[image]"
          id="image"
          class="form-control"
        />
        <div class="invalid-feedback">image should be valid!</div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-md-4">
          <label for="price" class="form-label">price</label>

          <input
            type="number"
            name="listing[price]"
            id="price"
            class="form-control"
            value="<%=list.price %>"
            required
          />
          <div class="invalid-feedback">price should be valid!</div>
        </div>
        <br />
        <br />

        <br />
        <br />
        <div class="col-md-8">
          <label for="country" class="form-label">Country</label>

          <input
            type="text"
            name="listing[country]"
            id="country"
            class="form-control"
            value="<%=list.country %>"
            required
          />
          <div class="invalid-feedback">Country name should be valid!</div>
        </div>
      </div>
      <br />
      <div>
        <label for="location" class="form-label">location</label>

        <input
          type="text"
          name="listing[location]"
          id="location"
          class="form-control"
          value="<%=list.location %>"
          required
        />
        <div class="invalid-feedback">location should be valid!</div>
      </div>
      <br />
      <br />
      <button class="btn btn-dark add-btn mb-3">Add</button>
      <br />
      <br />
    </form>
    <br />
    <br />
  </div>
</div>
